Source: wsdd
Section: misc
Priority: optional
Maintainer: Marc Leeman <m.leeman@televic.com>
Build-Depends: debhelper (>= 10),
               lsb-release,
               flex,
               bison,
               byacc,
               m4,
               gsoap (>= 2.8.104),
               libgsoap-dev,
               openssl,
               libssl-dev,
               zlib1g-dev,
               libcrypto++6,
Homepage: http://www.televic.com
Standards-Version: 4.3.0
Vcs-Git: https://github.com/mleeman/wsdd.git
Vcs-Browser: https://github.com/mleeman/wsdd

Package: wsdd
Architecture: any
Depends: lsb-base (>= 3.0-10),
         ${misc:Depends},
         ${shlibs:Depends}
Description: ONVIF WS-Discovery server
 wsdd is Linux daemon for ONVIF WS-Discovery service (server side).
