[Unit]
Description=ONVIF WS-Discovery service (server side)
After=network-online.target

[Service]
Type=forking
PIDFile=/run/wsdd.pid
ExecStart=/usr/bin/tlv-wsdd-wrapper
TimeoutSec=4
Restart=always
RestartSec=2
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
